.column {
  background-color: #3949ab;
  float: left;
  width: 24.85%;
  margin: 0.05%;
  height: 40px;
  line-height: 7.5px;
}

.column4 {
  background-color: #3949ab;
  float: left;
  width: 19.85%;
  margin: 0.05%;
  height: 40px;
  line-height: 7.5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.setColor {
  color: #3949ab;
  text-align: center;
}

.leftAlign {
  color: white;
  padding-left: 10px;
}

.inputLeftAlign {
  color: rgb(58, 49, 49);
  padding-left: 10px;
}

.centerAlign {
  text-align: center;
  color: white;
}

.sectionHead {
  background-color: #3949ab;
  color: white;
  text-align: center;
  margin-top: 25px;
  height: 40px;
  line-height: 40px;
  width: 99.9%;
}

.inputColumn {
  background-color: rgb(232, 221, 221);
  float: left;
  width: 24.88%;
  margin: 0.05%;
  height: 40px;
  line-height: 7.5px;
}

.inputColumn4 {
  background-color: rgb(232, 221, 221);
  float: left;
  width: 19.88%;
  margin: 0.05%;
  height: 40px;
  line-height: 7.5px;
}

.inputTextColor {
  color: rgb(53, 37, 37);
  text-align: right;
  padding-right: 10px;
}

.headTextColor {
  color: rgb(53, 37, 37);
  text-align: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  background-color: #fcf2dc;
}

.flexRow{
  display: flex;
  justify-content: space-around;
}

.inputSize {
  font-size: 12px;
  width: 10%;
  padding: 12px 15px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: inset -1px -1px 2px rgb(158, 155, 155);

}

.btnSize {
  width: 5%;
  padding: 10px 10px;
}

.btnDlt {
  height: 15px;
  width: 15px;
  padding: 0px;
}

.unCatAmt {
  text-align: right;
  margin-right: 185px;

}

.descLabel {
  text-align: right;
  padding: 10px;
}

/* style="background-color:#aaa;"
  style="background-color:#bbb;" */
