.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(143, 228, 221);
}

.navbar * {
  margin: .5vh .5vw;
}
.right-align {
  float: right;
  height: 30px;
  padding-top: 5px;
}

.left-align {
  float: left;
  height: 30px;
  padding-top: 5px;
}
